# Web Scraping Worksheet

In [1]:
!pip install bs4
!pip install requests

Collecting bs4
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
Requirement already satisfied: beautifulsoup4 in c:\users\user\anaconda3\lib\site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in c:\users\user\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.0.1)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py): started
  Building wheel for bs4 (setup.py): finished with status 'done'
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1277 sha256=7f9f97d91680334e11371a12c5ee6c9c3e191214d63eaefa65d4366c4f9158ab
  Stored in directory: c:\users\user\appdata\local\pip\cache\wheels\75\78\21\68b124549c9bdc94f822c02fb9aa3578a669843f9767776bca
Successfully built bs4
Installing collected packages: bs4
Successfully installed bs4-0.0.1
Requirement already satisfied: requests in c:\users\user\anaconda3\lib\site-packages (2.24.0)
Requirement already satisfied: idna<3,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\user\anaconda3\lib\site-packages (from requests) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests) (1.25.11)

# Q.1 Write a python program to display all the header tags from‘en.wikipedia.org/wiki/Main_Page’.

In [187]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
page = requests.get('https://en.wikipedia.org/wiki/Main_Page')
soup = BeautifulSoup(page.content)

headers_tags=soup.find_all('span',class_='mw-headline')

headers=[]
for i in headers_tags:
    headers.append(i.text.replace('\xa0...',''))
    
#print(headers)

data=pd.DataFrame()
data['Headers']=headers
data

                         Headers
0  From today's featured article
1                   Did you know
2                    In the news
3                    On this day
4       Today's featured picture
5       Other areas of Wikipedia
6    Wikipedia's sister projects
7            Wikipedia languages

# Q.2 Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of release).

In [188]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
page = requests.get('https://www.imdb.com/chart/top')

soup= BeautifulSoup(page.content)
movienames=soup.find_all('td',class_='titleColumn')

list_names=[]
for i in movienames:
    name=(i.text[10:-7]).replace('\n','')
    list_names.append(name)
relasing_Year = soup.find_all('span',class_='secondaryInfo')    

years=[]
for i in relasing_Year:
    year=i.text[1:-1]
    years.append(year)
    
Ratings = soup.find_all('td',class_='ratingColumn imdbRating') 

ratings=[]
for i in Ratings:
    ratings.append(i.text.replace('\n',''))
    
data=pd.DataFrame()
data['Movie Names']=list_names
data['Relasing Year']=year
data['Ratings'] = ratings
data.head(100)

                                     Movie Names Relasing Year Ratings
0                       The Shawshank Redemption          1927     9.2
1                                  The Godfather          1927     9.1
2                         The Godfather: Part II          1927     9.0
3                                The Dark Knight          1927     9.0
4                                   12 Angry Men          1927     8.9
..                                           ...           ...     ...
95                           Requiem for a Dream          1927     8.3
96                                          Dune          1927     8.3
97                           Singin' in the Rain          1927     8.3
98                            North by Northwest          1927     8.3
99  .      Eternal Sunshine of the Spotless Mind          1927     8.3

[100 rows x 3 columns]

# Q.3 Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year of release)

In [189]:
from bs4 import BeautifulSoup
import requests

page = requests.get('https://www.imdb.com/india/top-rated-indian-movies/')

soup= BeautifulSoup(page.content)

movienames=soup.find_all('td',class_='titleColumn')

list_names=[]
for i in movienames:
    name=(i.text[10:-7]).replace('\n','')
    list_names.append(name)

relasing_Year = soup.find_all('span',class_='secondaryInfo')

years=[]
for i in relasing_Year:
    year=i.text[1:-1]
    years.append(year)
    
Ratings = soup.find_all('td',class_='ratingColumn imdbRating')  

ratings=[]
for i in Ratings:
    ratings.append(i.text.replace('\n',''))

data=pd.DataFrame()
data['Movie Names']=list_names
data['Relasing Year']=year
data['Ratings'] = ratings
data.head(100)

                                 Movie Names Relasing Year Ratings
0                                    Nayakan          2016     8.5
1                                 Anbe Sivam          2016     8.5
2                          Pariyerum Perumal          2016     8.5
3                          C/o Kancharapalem          2016     8.5
4                                    Golmaal          2016     8.5
..                                       ...           ...     ...
95                           Rang De Basanti          2016     8.1
96                           OMG: Oh My God!          2016     8.1
97                                      Roja          2016     8.1
98                  Uri: The Surgical Strike          2016     8.1
99  .      Lagaan: Once Upon a Time in India          2016     8.1

[100 rows x 3 columns]

# Q.4 Write a python program to scrap book name, author name, genre and book review of any 5 books from 'www.bookpage.com’

In [233]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

page = requests.get('https://bookpage.com/reviews')

soup = BeautifulSoup(page.content)

books= soup.find_all('h4',class_='italic')

book_names=[]
for i in books:
    book_names.append(i.text.replace('★','').replace('\n',''))
del book_names[5:]

authors_script =soup.find_all('p',class_='sans bold')

author_names=[]
for i in authors_script:
      author_names.append(i.text.strip())
del author_names[5:]
    
#print(author_names)
genre = soup.find_all('p',class_='genre-links hidden-phone')

genre_list=[]
for i in genre:
    genre_list.append(i.text.strip().replace('\n',''))
        
del genre_list[5:]
#print(genre_list)
    
data=pd.DataFrame()
data['Book Name']=book_names
data['Author']=author_names
data['genre']=genre_list

data

,Book Name,Author,genre
0,A Calling for Charlie Barnes,Joshua Ferris,Fiction / Family Drama
1,Playing the Cards You're Dealt,Varian Johnson,Children's / Middle Grade
2,Please Don't Sit on My Bed in Your Outside Clo...,Phoebe Robinson,Nonfiction / Essays / Humor
3,Horseman,Christina Henry,Science Fiction & Fantasy / Fantasy / Historic...
4,Cloud Cuckoo Land,Anthony Doerr,Fiction / Literary Fiction

# Q.5 Write a python program to scrape cricket rankings from www.icc-cricket.com You have to scrape:
i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
ii) Top 10 ODI Batsmen in men along with the records of their team and rating.
iii) Top 10 ODI bowlers along with the records of their team andrating.

i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating

In [153]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

page= requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')

soup = BeautifulSoup(page.content)

Team = soup.find_all('span',class_='u-show-phablet')

team_list=[]
for i in Team:
    team_list.append(i.text)
del team_list[11:]
team_list.pop(0)
#print(teams)


Rating= soup.find_all('td',class_='table-body__cell u-text-right rating')


rating_list=[]
for i in Rating:
    rating_list.append(i.text)
del rating_list[10:]
#print(ratings)    

data=pd.DataFrame()
data['Teams'] = team_list
data['Ratings'] = rating_list

data

  Teams Ratings
0   ENG     119
1   AUS     116
2   IND     113
3    SA      98
4   PAK      93
5   BAN      91
6    WI      84
7    SL      83
8   AFG      62
9   NED      48

ii) Top 10 ODI Batsmen in men along with the records of their team and rating.

In [145]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

page= requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')

soup = BeautifulSoup(page.content)

batsmen_list=soup.find_all('td',class_='table-body__cell rankings-table__name name')


Batsmen_list=[]
for i in batsmen_list:
    Batsmen_list.append(i.text.replace('\n',''))
del Batsmen_list[10:]
#print(Batsmen_list)

Team_list=soup.find_all('span',class_='table-body__logo-text')


team_list=[]
for i in Team_list:
    team_list.append(i.text)
del team_list[10:]
#print(team_list)

Rating_list=soup.find_all('td',class_='rating')

rating_list=[]
for i in Rating_list:
    rating_list.append(i.text)
    
del rating_list[10:]
#print(rating_list)

data=pd.DataFrame()
data['Batsmen']=Batsmen_list
data['Teams'] =team_list
data['Ratings'] = rating_list


data

           Batsmen Teams Ratings
0      Virat Kohli   IND     844
1     Rohit Sharma   IND     813
2      Ross Taylor    NZ     801
3      Aaron Finch   AUS     779
4   Jonny Bairstow   ENG     775
5     David Warner   AUS     762
6        Shai Hope    WI     758
7  Kane Williamson    NZ     754
8  Quinton de Kock    SA     747
9     Fakhar Zaman   PAK     741

 iii) Top 10 ODI bowlers along with the records of their team andrating.

In [151]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

page= requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')

soup = BeautifulSoup(page.content)

bowler_list=soup.find_all('td',class_='table-body__cell rankings-table__name name')


Bowler_list=[]
for i in bowler_list:
    Bowler_list.append(i.text.replace('\n',''))
del Bowler_list[10:]
#print(Bowler_list)

Team_list=soup.find_all('span',class_='table-body__logo-text')


team_list=[]
for i in Team_list:
    team_list.append(i.text)
del team_list[10:]
#print(team_list)

Rating_list=soup.find_all('td',class_='rating')

rating_list=[]
for i in Rating_list:
    rating_list.append(i.text)
    
del rating_list[10:]
#print(rating_list)

data=pd.DataFrame()
data['Bowlers']=Bowler_list
data['Teams'] =team_list
data['Ratings'] = rating_list


data

             Bowlers Teams Ratings
0     Josh Hazlewood   AUS     709
1   Mujeeb Ur Rahman   AFG     708
2       Chris Woakes   ENG     700
3       Mehedi Hasan   BAN     692
4         Matt Henry    NZ     691
5     Jasprit Bumrah   IND     679
6     Mitchell Starc   AUS     652
7    Shakib Al Hasan   BAN     650
8      Kagiso Rabada    SA     646
9  Mustafizur Rahman   BAN     640

# Q.6 Write a python program to scrape cricket rankings from www.icc-cricket.com You have to scrape:
i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
ii) Top 10 women’s ODI players along with the records of their team and rating.
iii) Top 10 women’s ODI all-rounder along with the records of their team andrating.

i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [173]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

page= requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')

soup = BeautifulSoup(page.content)

Team_list= soup.find_all('span',class_='u-show-phablet')

team_list=[]
for i in Team_list:
    team_list.append(i.text)
del team_list[10:]
team_list.pop(0)
#print(team_list)


Rating_list= soup.find_all('td',class_='table-body__cell u-text-right rating')


rating_list=[]
for i in Rating_list:
    rating_list.append(i.text)
del rating_list[10:]
#print(rating_list)    

data=pd.DataFrame()
data['Teams'] = team_list
data['Ratings'] = rating_list

data

  Teams Ratings
0   ENG     119
1    SA     117
2   IND     113
3    NZ      92
4    WI      85
5   PAK      75
6   BAN      61
7    SL      47
8   IRE      13

ii) Top 10 women’s ODI players along with the records of their team and rating.

 iii) Top 10 women’s ODI all-rounder along with the records of their team andrating.

In [182]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

page= requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')

soup = BeautifulSoup(page.content)

rounder_list=soup.find_all('td',class_='table-body__cell rankings-table__name name')


All_rounder_list=[]
for i in rounder_list:
    All_rounder_list.append(i.text.replace('\n',''))
del All_rounder_list[10:]
#print(All_rounder_list)

Team_list=soup.find_all('span',class_='table-body__logo-text')


team_list=[]
for i in Team_list:
    team_list.append(i.text)
del team_list[10:]
#print(team_list)

Rating_list=soup.find_all('td',class_='rating')

rating_list=[]
for i in Rating_list:
    rating_list.append(i.text)
    
del rating_list[10:]
#print(rating_list)

data=pd.DataFrame()
data['All Rounders']=Bowler_list
data['Teams'] =team_list
data['Ratings'] = rating_list


data

        All Rounders Teams Ratings
0     Josh Hazlewood   ENG     372
1   Mujeeb Ur Rahman   AUS     365
2       Chris Woakes    WI     322
3       Mehedi Hasan   IND     299
4         Matt Henry   AUS     275
5     Jasprit Bumrah    SA     274
6     Mitchell Starc   AUS     272
7    Shakib Al Hasan   ENG     272
8      Kagiso Rabada   IND     251
9  Mustafizur Rahman    NZ     248

# Q.7 Write a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The scraped data should include Product Name, Price, Image URL and Average Rating.

In [3]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

page= requests.get('https://www.amazon.in/s?k=phone+under+20000&ref=nb_sb_noss_1')

soup = BeautifulSoup(page.content)

product_list= soup.find_all('h2',class_='a-size-mini a-spacing-none a-color-base s-line-clamp-2')


product_names=[]
for i in product_list:
    product_name= (i.text)
    print(product_name)
    product_names.append(product_name)
    
#print(product_names)   
  

price_lists = soup.find_all('span', class_='a-price-whole')


price_list=[]
for i in Price_lists:
    price_list.append(i.text)
#print(price_list)    



average_ratings= soup.find_all('span', class_='a-icon-alt')


average_rating=[]
for i in Average_ratings:
    average_rating.append(i.text)

#print(average_rating)

data=pd.DataFrame()
data['Product Name']=product_name
data['Price']=price_list
data['Average Ratings']=average_rating
print(data)

[]

# Q.8 Write a python program to extract information about the local weather from the National Weather Service website of USA, https://www.weather.gov/ for the city, San Francisco. You need to extract data about 7 day extended forecast display for the city. The data should include period, short description, temperature and description.

In [203]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

page= requests.get('https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996#.YU_8cOzivIU')

soup = BeautifulSoup(page.content)

Period=soup.find_all('p',class_='period-name')


period=[]
for i in Period:
    period.append(i.text)
#print(period)

Short_description= soup.find_all('p',class_='short-desc')


short_description=[]
for i in Short_description:
    short_description.append(i.text)
#print(short_description)

Temperature_description =soup.find_all('div',class_='col-sm-10 forecast-text')



temperature_description=[]
for i in Temperature_description:
    temperature_description.append(i.text.strip())
    
del temperature_description[8:13]
#print(temperature_description)

data=pd.DataFrame()
data['Period']=period
data['short description']=short_description
data['Temperature and description']=temperature_description
data.head(7)

,Period,short description,Temperature and description
0,Tonight,Mostly Clear,"Mostly clear, with a low around 53. West wind ..."
1,Wednesday,Sunny,"Sunny, with a high near 69. Light west wind in..."
2,WednesdayNight,Mostly Clear,"Mostly clear, with a low around 55. West wind ..."
3,Thursday,Sunny,"Sunny, with a high near 75. Light and variable..."
4,ThursdayNight,Mostly Clear,"Mostly clear, with a low around 55. Southwest ..."
5,Friday,Sunny,"Sunny, with a high near 74."
6,FridayNight,Partly Cloudy,"Partly cloudy, with a low around 55."

# Q.9 Write a python program to scrape fresher job listings from ‘https://internshala.com/’. It should include job title, company name, CTC, and apply date.

In [204]:
from bs4 import BeautifulSoup
import requests
from datetime import datetime
from dateutil import parser
import pandas as pd
page = requests.get('https://internshala.com/fresher-jobs')
soup = BeautifulSoup(page.content)
titles = soup.find_all('div' ,class_='heading_4_5 profile')

job_titles =[]

for i in titles:
    job_titles.append(i.text.replace('\n',''))
    
companies=soup.find_all('a',class_='link_display_like_text')

company_names =[]  

for i in companies:
    company_names.append(i.text.strip())
    
 
                        

Apply_date=soup.find_all('div',class_='item_body')

apply_dates=[]
ctcs=[]
res= True
format = "%d-%m-%Y"
for i in Apply_date:
    apply_date=(i.text.replace('Starts\xa0Immediately\n',''))
    apply_date=apply_date.strip()

    try:
      res = bool(parser.parse(apply_date))
      if(res):
           pr= parser.parse(apply_date)
           
           apply_dates.append(pr.strftime(format)) 
      
    except ValueError:
        if(len(apply_date) > 0):
         ctcs.append(apply_date.strip())

    

data=pd.DataFrame()
data['House_title']=job_titles
data['company_name']=company_names
data['ctc']=ctcs
data['apply_date']=apply_dates
data

,House_title,company_name,ctc,apply_date
0,Trainee Engineer,Moodraa,3.5 - 4 LPA,28-10-2021
1,Software Engineer - Flutter/Dart,Aimed Labs,3 - 4 LPA,28-10-2021
2,Associate Java Developer,HostBooks Limited,3 - 3.5 LPA,28-10-2021
3,Android App Developer,WatchDeck,4.5 - 6 LPA,28-10-2021
4,Support & Installation Engineer,ENSOWT,3 LPA,28-10-2021
5,Assistant Brand Manager,Pet Project India Private Limited,4.5 - 5.5 LPA,28-10-2021
6,Associate Recruiter,Recruit CRM,4 LPA,28-10-2021
7,Student Mentor - English,Kid Aptivity Technologies,3 - 3.6 LPA,28-10-2021
8,Human Resources (HR) Manager,FreeCo Education Private Limited,3 - 4 LPA,28-10-2021
9,Software Engineer - Trainee,RightRev India Private Limited,3 - 5 LPA,28-10-2021
10,Embedded Systems Associate,Limelight,3 - 5 LPA,28-10-2021
11,Business Development Associate,StayQrious India Private Limited,4 - 5 LPA,28-10-2021
12,Social Media Executive,Plix - The Plant Flix,3 - 3.1 LPA,28-10-2021
13,Digital Marketing Executive,Nebula Robotics,3 LPA,28-10-2021
14,Market Research Associate,IndustryARC,3 - 3.5 LPA,28-10-2021
15,React Native Developer,Red Dot Apps,3 - 5 LPA,27-10-2021
16,Associate Software Developer,Chimera Technologies,3 - 5 LPA,27-10-2021
17,Associate Front End Developer,Seventh Triangle Consulting,3.5 - 3.7 LPA,27-10-2021
18,Business Development Associate,Regional Public Relations,3 - 3.6 LPA,27-10-2021
19,Lead Generation Associate,CommVersion Solutions,3 - 6 LPA,27-10-2021
20,Business Development Associate,Web Assets,3 - 8 LPA,27-10-2021
21,Accounts And MIS Manager,Little Olive,3 - 3.2 LPA,27-10-2021
22,Junior Search Engine Optimization (SEO) Execut...,ICubes,3 LPA,27-10-2021
23,Junior Equity Research Analyst,Saurashtra Freight Private Limited,3 - 3.5 LPA,27-10-2021
24,Digital Marketing Associate,ActiveLoc,3 - 4 LPA,27-10-2021
25,Associate Consultant,Peer Hunt,3 - 5 LPA,27-10-2021
26,Software Developer,Vitra.ai,6.6 LPA,27-10-2021
27,Cluster Manager,Gigforce Private Limited,4 - 6 LPA,27-10-2021
28,Inside Sales Associate,Xobin,3.5 - 4.6 LPA,27-10-2021
29,Marketing & Sales Executive,Is You Skincare,3 - 4 LPA,25-10-2021
30,QA Engineer/Tester,Incrivelsoft Private Limited,3 LPA,25-10-2021
31,Software Developer,Magnus Meditourism Private Limited,3 LPA,25-10-2021
32,Career Strategist,Ace My Prep,6 LPA,25-10-2021
33,Operations Support Staff,Alphamate Technologies,3 LPA,25-10-2021
34,Business Development Associate,Amida Educational Services Private Limited,5 LPA,25-10-2021
35,Online Business/Sales Driver,Root Bytes Agro Services Private Limited,3 - 3.5 LPA,25-10-2021
36,Business Development Officer,Redwood Algorithms,3 - 6 LPA,25-10-2021
37,Software Engineer,SenSei Technologies,3 - 3.2 LPA,25-10-2021
38,Embedded Systems Specialist,Lazy Idli Private Limited,4.2 LPA,25-10-2021
39,Omni Sports Leader,Decathlon Sports India,3 - 5 LPA,25-10-2021

# Q.10 Write a python program to scrape house details from https://www.nobroker.in/ for any location. It should include house title, location, area, emi and price.

In [205]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

page= requests.get('https://www.nobroker.in/property/sale/pune/National%20Institute%20of%20Bank%20Management?searchParam=W3sibGF0IjoxOC40NzY1MDAzLCJsb24iOjczLjkwMDY0MDUsInBsYWNlSWQiOiJDaElKRzJfSC1tWHF3anNSYl9xZlRBd2R2eFUiLCJwbGFjZU5hbWUiOiJOYXRpb25hbCBJbnN0aXR1dGUgb2YgQmFuayBNYW5hZ2VtZW50In1d&radius=2.0&type=BHK2&propertyAge=0')

house_titles = []
house_locations = []
house_area = []
house_emi = []
house_price = []

html_soup = BeautifulSoup(page.text,'html.parser')
house_containers1 = html_soup.find_all('article')
house_containers = html_soup.find_all('div', id="listCardContainer")
for house in house_containers1:
   
   title = (house.find('div','nb__2JHKO').find('h2').text.replace('\n',''))
   house_titles.append(title)
   location = (house.find('div','nb__2CMjv').text.replace('\n',''))
   house_locations.append(location)
   area = (house.find('div','nb__3oNyC').text.replace('\n',''))
   house_area.append(area)
   emi = (house.find('div', id='roomType').text.replace('â\x82¹',''))
   house_emi.append(emi)
   price = (house.find('div', id='minDeposit').find('span').text.replace('â\x82¹',''))
   house_price.append(price)

cols = ['Title', 'Location', 'Area(sqft)', 'EMI(Rs)', 'Price(Rupees)']
df_pune = pd.DataFrame({'Title': house_titles,
                        'Location': house_locations,
                        'Area(sqft)': house_area,
                        'EMI(Rs)': house_emi,
                        'Price(Rupees)': house_price})[cols]
df_pune

,Title,Location,Area(sqft),EMI(Rs),Price(Rupees)
0,2 BHK Apartment For Sale In Goel Ganga Hill ...,"Goel Ganga Hill Mist GardenÂ NIBM, Kondhwa, P...","1,050 sqft","32,669/Month",57 Lacs
1,2 BHK Apartment For Sale In Sobha Garnet In ...,"Sobha GarnetÂ Off NIBM Road, Kondhwa, Pune, M...","1,000 sqft","51,583/Month",90 Lacs
2,2 BHK Apartment For Sale In Suyog Laher In K...,"Suyog LaherÂ Near Sai Service, Kondhwa Budruk...",940 sqft,"38,400/Month",67 Lacs
3,2 BHK Apartment For Sale In Notting Hill In ...,"Notting HillÂ Punyadham Ashram Road, Kondhwa ...",806 sqft,"29,803/Month",52 Lacs
4,2 BHK Apartment For Sale In Gagan Avenue In ...,Gagan AvenueÂ Opposite Kalyan Mangal Karyalay...,"1,155 sqft","41,266/Month",72 Lacs
5,2 BHK Flat For Sale In Kondhwa Bk,"Standalone Building, Simran Iris Sahyadri Park...","1,154 sqft","48,717/Month",85 Lacs
6,2 BHK Apartment For Sale In Marvel Albero In...,"Marvel AlberoÂ Kondhwa, opposite angraj dhaba","1,310 sqft","52,729/Month",92 Lacs
7,2 BHK Flat For Sale In Archana Hill Town In ...,"Kausar Baugh, Kondhwa, Pune, Maharashtra 41104...","1,075 sqft","45,851/Month",80 Lacs
8,2 BHK Apartment For Sale In Sunshree Apartme...,"Sunshree ApartmentÂ NIBM, Pune-4RIMS Internat...",890 sqft,"31,522/Month",55 Lacs
9,2 BHK Flat For Sale In Amba Vatika In Kondha...,"Amba Vatika, NIBM Post Office Road, Kubera Gar...",875 sqft,"28,657/Month",50 Lacs